* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(6, 163, 6);
}

nav .Logo
{
    font-size: 2rem;
    font-family: 'Francois One', sans-serif;;
    padding-left: 25px;
}

nav .Derecha a
{
    padding-right: 25px;
}

.container input
{
    width: 500px;
    padding: 10px;
    border-radius: 7px;
}

nav a
{
    color: white;
    text-decoration: none;
}
